.dashboard {
    height: 100%;
      display: flex; 
      justify-content: space-between;
      
      
      .left {
       
        height: 100%;
        overflow-y: auto;
      }
    
      .right {
        height: 100%;
        overflow-y: auto;
  
        flex: 1; 
    
       
      }
    }
    