// MaterialInput.scss
.material-input {
    display: flex;
    flex-direction: column;
    margin:  6px;
    
  
    label {
        position: relative;
        left:10px;
     text-transform: capitalize;
      font-size: 14px;
      color: #616161;
      margin-bottom: -8px;
      font-weight: 700;
      align-self: flex-start;
    }
  
    .input-container {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
  
      .material-icons {
        font-size: 18px;
        color: #757575;
        margin-right: 8px;
      }
      
  
      input,select {
        flex: 1;
        border: none;
        outline: none;
        font-size: inherit; /* Inherit font size from parent */
        background-color: inherit; /* Inherit background color from parent */
      }
    }
  }
  option{
    padding: '0px';
    background-color: transparent;
  }