@import './Variable.scss';

.sidebar {
	position: relative;
	left: $sidebar-width; /* Initial position outside the screen */
	width: 0px;
    top:0;
	background-color:$sidebar-color;
//	transition: left 0.3s ease-in-out; /* Smooth slide-in and slide-out transition */
	z-index: 1;
    overflow-y: auto;
  }
  
  .sidebar.open {
	left: 0; /* Show the sidebar by bringing it into the screen */
    width: $sidebar-width;
  }
  
  .toggle-button {
	position: fixed;
	top: 50px;
	left: 10px; 
	background :transparent;
    opacity: 0.5;
	font-size: 40px;
	cursor: pointer;
	outline: none;
	border: none;
	
    z-index: 2;
	
  }
  
  
  .sidebar-menu {
	display: flex;
	flex-direction: column;
//	justify-content: center;
//	align-items: center;
	height: 100%;
	padding-top: 40px;
  }
  
  .sidebar-menu a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	padding: 10px;
    border-bottom: 3px solid #ccc;
    text-transform: uppercase;
	font-weight: 500;
	transition: color 0.3s ease-in-out;
  }
  .sidebar-menu a:hover {
	background-color: azure;
  }
  
 .active{
	background-color: azure;
  }
